body {
    background-color: black;
    font-family: 'Caprasimo', cursive;
    font-size: 16px;
}


h1, h2, h3 {
    font-family: 'Fasthand', cursive;
}

/* Header */
header {
    background-color: #333333;
    padding: 10px;
    text-align: center;
}

header a {
    color: #ffffff;
    text-decoration: underline;
}

header a:hover {
    color: #ffcc00;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Search Bar */
label, input {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}

button {
    background-color: #333333;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffcc00;
}

/* Section */
section {
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
}

section h1, section h2, section h3 {
    text-align: center;
    font-size: 2em;
}

/* Image */
.img-border {
    border: 1px solid #333333;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
}


/* Form  */
form {
    margin: 20px;
    padding: 10px;
    background-color: #f7f7f7;
}

form label {
    color: black;
}

form input, form textarea {
    border: 1px solid #999999;
    padding: 8px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #333333;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #ffcc00;
}